<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>	
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/reset.css">	
	<!-- 引入样式 -->
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/mint.css">
	<link rel="stylesheet" href="../css/affirm.min.css">
</head>
<body>
	<div id="affirm" v-if="msg">
		<!-- 收货地址 -->
		<div class="site" @click="dizhi">
			<img src="../images/收货地址.png" class="shdz">		
			<span class="sitewz" v-if="panduan == 6">{{adress}}</span>
			<span class="sitewz" v-else>请添加您的收货地址</span>
			<img src="../images/icon-ri.png" class="iconr">
		</div>
			
		<!-- 中间内容 -->
		<div class="affcon">
			<div class="affcont">
				<img src="" class="afftp">
				<div class="addconr">
					<p class="affwz">{{msg.title}}</p>
					<div class="affmen">
						<div class="affmy">￥<span class="affmeble">{{msg.market_price}}</span></div>
						<div class="affch">x1</div>
					</div>
				</div>
			</div>
			<div class="affgj">
				共计1减商品 合计:￥{{msg.price}}（包邮）
			</div>
		</div>
		<!-- 底部按钮 -->	
		<!-- <form action="http://www.pluss.com/mobile.php?act=plus&op=orderPay&ordersn=pin=11009" method="post">  -->	
			<input type="submit" class="qrbut" value="确认支付" @click="queren"> 
		<!-- </form>	 -->
	</div>
</body>
<script src="../static/polyfill.min.js"></script>
<script src="http://static.sldlcdn.com/resource/script/flexible.js"></script>
<script src="http://static.sldlcdn.com/resource/shuangshier/js/lib/vue.js"></script>
<script src="../static/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="https://static.sldlcdn.com/resource/shuangshier/js/lib/mint.js"></script>
<script src="../js/min/affirm.min.js"></script>
</html>