<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>	
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/reset.css">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/mint.css">
	<link rel="stylesheet" href="../css/ddlist.min.css">
</head>
<body>
	<div id="ddlist">
		<!-- 顶部 -->
		<div class="title">
			<div :class="{li:true, bluebott:active == ''}" @click="titlezt('')">全部</div>
			<div :class="{li:true, bluebott:active == 1}" @click="titlezt(1)">待发货</div>
			<div :class="{li:true, bluebott:active == 2}" @click="titlezt(2)">待收货</div>
			<div :class="{li:true, bluebott:active == 3}" @click="titlezt(3)">交易成功</div>
		</div>
		<!-- 内容部分 -->
		<div class="affcon" v-for="(item,index) in msg" :key="index" @click="skipaff(item.ordersn)">
			<div class="affcont">
				<img :src="item.img" class="afftp">
				<div class="addconr">
					<p class="affwz">{{item.title}}</p>
					<div class="affmen">
						<div class="affmy">￥<span class="affmeble">{{item.gift_price}}</span></div>
						<div class="affch">x{{item.num}}</div>
					</div>
				</div>
			</div>
			<div class="affgj">
				<p class="affgjp">共计1件商品 合计:￥{{item.order_price}}（包邮）</p>
			</div>
			<!-- 退货的几个按钮 -->
			<div class="quitbutton" v-if="item.status == 2">	
				<div class="goodsbutt" @click="wuliu(item.delivery)">物流</div>
				<div class="goodsbutt" @click="qrsh(item.ordersn)">确认收货</div>
				<div class="goodsbutt" @click="tkth(item.ordersn)">退货退款</div>
			</div>
			<div class="quitbutton" v-if="item.status == 3">
				<div class="goodsbutt" @click="tkth(item.ordersn)">退货退款</div>
			</div>
			<!-- 右上角显示状态 -->
			<div class="state">
				<img src="../images/jycg.png" class="zt" v-if="item.status == 3">
				<img src="../images/fahuo.png" class="zt" v-if="item.status == 2">
				<img src="../images/yfk.png" class="zt" v-if="item.status == 1">
			</div>
		</div>
		<!-- 弹出提示 -->
		<div class="hint" v-if="hin == 1">
			 <div class="hintp">您确定要退货退款吗?</div>
			 <div class="hintqx">
			 	<span class="hintl" @click="qxth">取消</span>
			 	<span class="hintr" @click="qesh">确认</span>
			 </div>
		</div>
		<!-- 确认退货 -->
		<div class="hint" v-if="qrts == 1">
			<div class="hintp">{{tkmsg}}</div>
			<div class="hintqx" @click="qrmsg">确认</div>
		</div>
		<!-- 确认收货 -->
		<div class="hint" v-if="qrzhts == 1">
			<div class="hintp">{{qrshts}}</div>
			<div class="hintqx" @click="gbqrsh">确认</div>
		</div>
	</div>
</body>
<script src="http://static.sldlcdn.com/resource/script/flexible.js"></script>
<script src="../static/polyfill.min.js"></script>
<script src="http://static.sldlcdn.com/resource/shuangshier/js/lib/vue.js"></script>
<script src="../static/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="https://static.sldlcdn.com/resource/shuangshier/js/lib/mint.js"></script>
<script src="../js/min/ddlist.min.js"></script>
</html>