<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>	
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/reset.css">	
	<!-- 引入样式 -->
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/mint.css">
	<link rel="stylesheet" href="../css/goodssite.min.css">
	<script src="../static/district.js"></script>
</head>
<body>
	<div id="goodssite">
		<form action="" method="">
			 <ul class="form">
			 	<li>
			 		<label for="name" class="labri">收货人</label>
			 		<input type="text"  id="name" v-model="input1">
			 	</li>
			 	<li>
			 		<label for="bank">手机号码</label>
			 		<input type="text"  id="bank" v-model="input2">
			 	</li>
			 	<li @click="popupVisible = true">
			 		<label for="nember">省市地区</label>
			 		
			 		<span>{{shen}}-{{shi}}-{{qu}}</span>
			 	</li>
			 	<li>
			 		<label for="message">详细地址</label>
			 		<input type="text" id="message" v-model="input4">			 		
			 	</li>
			 </ul>
			 <!-- 按钮 -->
			 <div class="sub" @click="submit">完成</div> 
		</form>
		<mt-popup
		  	v-model="popupVisible"
		  	position="bottom"
			class="po"
		  	>
			<mt-picker :slots="slots" @change="onValuesChange"></mt-picker>
		</mt-popup>
		<!-- {{shen}}{{shi}}{{qu}}-{{shenId}}{{shiId}}{{quId}} -->
	</div>
</body>
<script src="../static/polyfill.min.js"></script>
<script src="http://static.sldlcdn.com/resource/script/flexible.js"></script>
<script src="http://static.sldlcdn.com/resource/shuangshier/js/lib/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://static.sldlcdn.com/resource/shuangshier/js/lib/mint.js"></script>
<script src="../js/min/goodssite.min.js"></script>
</html>