<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>	
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/reset.css">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="http://static.sldlcdn.com/resource/shuangshier/css/reset/mint.css">
	<link rel="stylesheet" href="../css/mtshop.min.css">
</head>
<body>
	<div id="mtshop">
		<div class="title">梦天电商欢迎您</div>
		<div class="mtcont">
			<img src="../images/bgb.png" class="mtbgb">
			<img src="../images/mt.png" class="mtds">
			<form action="" method="">
				<div class="nember">
					<label for="nember" class="mart">手机号码</label>
					<input :class='{color_red:color_red}' maxlength="11"  v-model='mobile_model' type="text" id="nember">
				</div>
				<div class="nember">
					<label for="verifty">图形验证码</label>
					<input v-model='yzm_num' maxlength="4" type="text" id="verifty">
					<div @click='changcode()' class="bgh hgd"><img id='Img' src="" alt="" ></div>
				</div>
				<div class="nember">
					<label for="message">短信验证码</label>
					<input v-model='dx_yzm' maxlength="4"  type="text" id="message">
					<span v-if='sendMsgDisabled' class="yzm">{{time}}秒后获取</span>
					<span @click='Verification' v-if='!sendMsgDisabled' class="yzm">获取验证码</span>
				</div>
			</form>			
		</div>
		<div class="read">
			<span @click='check()' class="duigou"><img v-if='btn_state' src="../images/icon-duigou.png"></span>
			我已阅读并同意梦天电商的
			<a href="../html/agreement.html">
				<span class="readyh">《用户协议》</span>

			</a>
				
		</div>
		<!-- 登录 -->
		<a>
			<div :class='{active:first_state==true && two_state==true && three_state==true && this.four_state==true}' @click='mobile_api' class="enter blue">登录</div>
		</a>
			
		<!-- <div class="enter">登录</div> -->
	</div>
</body>
<script src="http://static.sldlcdn.com/resource/script/flexible.js"></script>
<script src="../static/polyfill.min.js"></script>
<script src="http://static.sldlcdn.com/resource/shuangshier/js/lib/vue.js"></script>
<script src="../static/axios.min.js"></script>
<script src='../js/min/mtshop.min.js'></script>
<!-- 引入组件库 -->
<script src="https://static.sldlcdn.com/resource/shuangshier/js/lib/mint.js"></script>
</html>